{% extends 'base.html' %}

{% load static %}

{% block title %} Payment Cancelled {% endblock %}

{% block body %}

{% if messages %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {% for message in messages %}
    {{ message }}
    {% endfor %}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}

<div class="container text-center mt-5">
    <h1 class="text-warning">Payment Cancelled</h1>
    <p>Your payment was cancelled. Your order ID is {{ order.id }}. <br> You can review your order and try again if you'd like.</p>
    <a href="{% url 'cart' %}" class="btn btn-secondary">Return to Cart</a>
</div>

{% endblock %}