{% extends 'base.html' %}

{% load static %}

{% block title %} Products {% endblock %}

{% block body %}

<div class="container">
    <h2 class="text-center">
        {% if category == 'men' %}Men's Products{% elif category == 'women' %}Women's Products{% else %}All
        Products{% endif %}
    </h2>

    <div class="row">
        {% for product in products %}
        <div class="col-md-3 my-3">
            <div class="card" style="height: 28rem;">
                <img src="{{ product.product_image.url }}" class="card-img-top" alt="{{ product.product_name }}" style="height: 18rem;">
                <div class="card-body text-center">
                    <h5 class="card-title">{{ product.product_name }}</h5>
                    <p class="card-text">Tk {{ product.product_price }}</p>
                    <div class="d-flex justify-content-center">
                        <a href="{% url 'product_detail' product.id %}" class="btn btn-sm btn-outline-dark me-2">View
                            Product</a>
                        <a href="{% url 'add_to_cart' product.id %}" class="btn btn-sm btn-secondary">Add to Cart</a>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <p class="text-center">No products available in this category.</p>
        {% endfor %}
    </div>
</div>

{% endblock %}